body {
  background-image: url("../images/mountaincoffee.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  display: block;
  background-color: black;
  height: 70vh;
  width: 100%;
}
