body {
  background-image: url("../images/coffeguy.jpeg"),
    url("../images/coffee-grounds.jpg"), url("../images/swirl.jpeg");
  background-size: contain;
  background-repeat: no-repeat, repeat, no-repeat;
  background-color: rgb(215, 202, 186);
  color: black;
  font-family: "Fredoka One", cursive;
}

h1 {
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -moz-text-decoration-color: transparent;
  -webkit-text-stroke: 1px rgb(249, 240, 192);
}
h3 {
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -moz-text-decoration-color: transparent;
  -webkit-text-stroke: 1px rgb(196, 159, 120);
}
a {
  text-decoration: none;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -moz-text-decoration-color: transparent;
  -webkit-text-stroke: 1px white;
  font-size: 20px;
  color: rgb(85, 52, 6);
}
a:hover {
  font-size: 35px;
}

.aboutContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about h3 {
  text-align: center;
}

.about {
  margin-top: 45%;
}

@media all and (min-width: 725px) {
  body {
    background-image: url("../images/coffeguy.jpeg"),
      url("../images/coffee-grounds.jpg");
    background-size: center;
    background-repeat: no-repeat, repeat;
    color: black;
    font-family: "Fredoka One", cursive;
    background-color: black;
    text-align: center;
  }

  h1 {
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -moz-text-decoration-color: transparent;
    -webkit-text-stroke: 1px rgb(249, 240, 192);
  }
  h3 {
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -moz-text-decoration-color: transparent;
    -webkit-text-stroke: 1px rgb(196, 159, 120);
  }

  .aboutContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
  }

  .about h3 {
  }

  .about {
    margin-top: 10%;
  }
}

@media all and (min-width: 830px) {
  body {
    background-image: url("../images/coffeguy.jpeg");
    background-size: stretch;
    background-position: top;
    background-repeat: no-repeat;
    color: black;
    font-family: "Fredoka One", cursive;
    background-color: black;
    text-align: center;
  }

  h1 {
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -moz-text-decoration-color: transparent;
    -webkit-text-stroke: 1px rgb(249, 240, 192);
  }
  h3 {
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -moz-text-decoration-color: transparent;
    -webkit-text-stroke: 1px rgb(196, 159, 120);
  }

  .aboutContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .about h3 {
  }

  .about {
    margin-top: 40%;
  }
}
