body {
  width: 100%;
  height: 100vh;
  background-color: black !important;
  background-image: url("../images/dirtygroundcoffee.jpg");
  background-position: center;
  background-size: cover;
}

h1 {
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -moz-text-decoration-color: transparent;
  -webkit-text-stroke: 1px white;

  position: absolute;
  text-align: center;
}

h5 {
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -moz-text-decoration-color: transparent;
  -webkit-text-stroke: 1px white;

  position: absolute;
  text-align: center;
}

h3 {
  text-align: center;
}

nav {
  align-self: center;
}

img {
  width: 300px;
}
.recipeContainer {
  display: flex;
  flex-direction: column;
}

.recipeWindow {
  width: 50%;
  height: 200px;
  align-self: center;
}
.recipeInfoWindow {
}

#getRecipe {
  width: 20%;
  height: 20%;
  align-self: center;
}

#btns {
  width: 20%;
  height: 20%;
  align-self: center;
  display: none;
}

#recipeTitle {
  margin: 2%;
  background-color: purple;
  height: 50px;
  padding: 2%;
}

#recipePic {
  height: 45%;
  margin: 5%;
}
#recipePic img {
  opacity: 1;
  position: absolute;
  width: 300px;
  align-self: center;
}

#recipeInfo {
  margin: 2%;
  background-color: red;
  height: 50px;
  padding: 2%;
}

.fade-in-image {
  animation: fadeIn 15s;
  align-self: center;
}

.in-active {
  display: none;
}

.active {
  display: block;
}

/* @keyframes fadeIn {
  0% {
    opacity: 0;
  }
}
.fade-out-image {
  animation: fadeOut 2s;
  align-self: center;
}
@keyframes fadeOut {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
} */
