body {
  width: 100%;
  height: 100vh;
  background-color: black !important;
}

h1 {
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -moz-text-decoration-color: transparent;
  -webkit-text-stroke: 1px white;
  opacity: 0;
  position: absolute;
}

h5 {
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -moz-text-decoration-color: transparent;
  -webkit-text-stroke: 1px white;
  opacity: 0;
  position: absolute;
}

img {
}

nav {
  align-self: center;
}
.recipeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recipeWindow {
  width: 100%;
  height: 500px;
  background-color: yellow;
}
#getRecipe {
  width: 20%;
  height: 20%;
  align-self: center;
}

#recipeTitle {
  margin: 2%;
  background-color: purple;
}

#recipePic {
  width: 100%;
  height: 50%;
  margin: 5%;
}
#recipePic img {
  opacity: 0;
  position: absolute;
  max-width: 100%;
}

#recipeInfo {
  margin: 2%;
  background-color: red;
}

.fade-in-image {
  animation: fadeIn 15s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
}
.fade-out-image {
  animation: fadeOut 2s;
}
@keyframes fadeOut {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
